body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
background-color: #D2E0FB;  
}
  
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

#currentDate {
  color: #82A0D8;
  font-weight: 900;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #EEEEEE;
  color: #7D7C7C;
}

.present {
  background-color: #A2C579;
  color: white;
}

.future {
  background-color: #F9F3CC;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #91C8E4;
  color: black;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

